@import '../scss/utilities/import';

html {
	font-size: 10px;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
	color: #333;
	margin: 0;
	font-size: 1.6rem;
	line-height: 1.5;
}
nav {
	position: relative;
	z-index: 1;
}
h1 {
	font-size: 4rem;
	margin-bottom: 0;
	margin: 0 8px;
}
#h1-main {
	font-size: 16px;
	margin-top: 1rem;
	margin-bottom: 1rem;
	position: relative;
	z-index: 1;
}
h2 {
	font-size: 3.25rem;
	margin: 5px;
	padding: 0;
}
p {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
a {
	color: #477ca7;
	&:visited {
		color: #74638f;
	}
}
img {
	max-width: 100%;
	display: block;
	height: auto;
	margin: 2px auto;
}
#img-div {
	background: white;
	padding: 10px;
	margin: 0;
	position: relative;
	z-index: 1;
}
.imgAndVideo {
	margin: 15px 0 5px 0;
}
.item-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 10px;
	padding: 15px;
}
main {
	background: #E8E9F3;
	margin: 1px 8px;
	padding: 1px 15px;
	border-radius: 5px;
	text-align: center;
}
#biography {
	margin: 15px;
}
#headline {
	margin: 35px 0;
	text-align: center;
}
.moments {
	ul {
		max-width: 550px;
		margin: 0 auto 50px auto;
		text-align: justify;
		line-height: 1.6;
	}
	li {
		margin: 16px 0;
	}
}
.albumes {
	text-align: justify;
}
blockquote {
	font-style: italic;
	max-width: 545px;
	margin: 0 auto 50px auto;
	text-align: left;
}
button {
	margin: 5px 0 5px;
}
.animacion-0 {
	transition: all 1.5s ease-out;
}
.animacion-1 {
	transition: all 1.5s ease-out;
}
.animacion-2 {
	transition: all 1.5s ease-out;
}
.animacion-3 {
	transition: all 1.5s ease-out;
}
.animacion-4 {
	transition: all 1.5s ease-out;
}
.animacion-5 {
	transition: all 1.5s ease-out;
}
.container-animation {
	&:hover {
		.animacion-0 {
			transform: translateX(10px);
		}
		.animacion-1 {
			transform: translateX(10px);
		}
		.animacion-2 {
			transform: translateX(10px);
		}
		.animacion-3 {
			transform: translateX(10px);
		}
		.animacion-4 {
			transform: translateX(10px);
		}
		.animacion-5 {
			transform: translateX(10px);
		}
	}
}
.contenedor {
	&:hover {
		.animacion-0 {
			-webkit-transform: scale(1.3);
			transform: scale(1.3);
		}
		.animacion-3 {
			-webkit-transform: scale(1.3);
			transform: scale(1.3);
		}
		.animacion-1 {
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
			-webkit-transition: .3s ease-in-out;
			transition: .3s ease-in-out;
		}
		.animacion-4 {
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
			-webkit-transition: .3s ease-in-out;
			transition: .3s ease-in-out;
		}
		.animacion-2 {
			opacity: 1;
			-webkit-animation: flash 1.5s;
			animation: flash 1.5s;
		}
		.animacion-5 {
			opacity: 1;
			-webkit-animation: flash 1.5s;
			animation: flash 1.5s;
		}
	}
	overflow: hidden;
}
#h1-form {
	padding: 15px 0 0;
}
.text-center {
	text-align: center;
}
.container-form {
	width: 100%;
	margin: 3.125rem auto 0 auto;
}
.form-group {
	margin: 0 auto 1.25rem auto;
	padding: 0.25rem;
}
.form-control {
	font-family: inherit;
	font-size: 100%;
	display: block;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input-radio {
	display: inline-block;
	margin-right: 0.625rem;
	min-height: 1.25rem;
	min-width: 1.25rem;
}
.input-checkbox {
	display: inline-block;
	margin-right: 0.625rem;
	min-height: 1.25rem;
	min-width: 1.25rem;
}
.input-textarea {
	min-height: 120px;
	width: 100%;
	padding: 0.625rem;
	resize: vertical;
}
.background-color-1 {
	background-color: #F8F9FA;
}
.background-color-2 {
	background-color: #E8E9F3;
}
.submit-button {
	font-size: 1.5rem;
	margin: 10px 0 10px;
	display: block;
	width: 100%;
	padding: 12px;
}
.buttons-animaciones {
	&:hover {
		animation: mantis 4s;
	}
}
.footer-basic {
	padding: 40px 0;
	background-color: #ffffff;
	color: #4b4c4d;
	ul {
		padding: 0;
		list-style: none;
		text-align: center;
		font-size: 18px;
		line-height: 1.6;
		margin-bottom: 0;
		a {
			color: inherit;
			text-decoration: none;
			opacity: 0.8;
			&:hover {
				opacity: 1;
			}
		}
	}
	li {
		padding: 0 10px;
	}
	.social {
		text-align: center;
		padding-bottom: 25px;
		>a {
			font-size: 24px;
			width: 40px;
			height: 40px;
			line-height: 40px;
			display: inline-block;
			text-align: center;
			border-radius: 50%;
			border: 1px solid #ccc;
			margin: 0 8px;
			color: inherit;
			opacity: 0.75;
			&:hover {
				opacity: 0.9;
			}
		}
	}
	.copyright {
		margin-top: 15px;
		text-align: center;
		font-size: 13px;
		color: #aaa;
		margin-bottom: 0;
	}
}
@media (max-width: 460px) {
	h1 {
		font-size: 3.5rem;
		line-height: 1.2;
	}
	.img-caption {
		font-size: 1.4rem;
	}
}
@media only screen and (min-width: 0) and (max-width: 1023px) {
	.item-fixed {
		width: 0;
		height: 0;
	}
}
@media only screen and (min-width: 280px) and (max-width: 359px) {
	.video-responsive {
		width: 235px;
		height: 150px;
	}
	.spotify-responsive {
		width: 250px;
		height: 350px;
	}
}
@media only screen and (min-width: 320px) and (max-width: 359px) {
	.video-responsive {
		width: 250px;
		height: 180px;
	}
	.spotify-responsive {
		width: 290px;
		height: 380px;
	}
}
@media only screen and (min-width: 360px) and (max-width: 374px) {
	.video-responsive {
		width: 290px;
		height: 200px;
	}
	.spotify-responsive {
		width: 330px;
		height: 380px;
	}
}
@media only screen and (min-width: 375px) and (max-width: 410px) {
	.video-responsive {
		width: 300px;
		height: 200px;
	}
	.spotify-responsive {
		width: 345px;
		height: 400px;
	}
}
@media only screen and (min-width: 411px) and (max-width: 424px) {
	.video-responsive {
		width: 340px;
		height: 220px;
	}
	.spotify-responsive {
		width: 385px;
		height: 400px;
	}
}
@media only screen and (min-width: 425px) and (max-width: 539px) {
	.video-responsive {
		width: 350px;
		height: 250px;
	}
	.spotify-responsive {
		width: 385px;
		height: 380px;
	}
}
@media only screen and (min-width: 540px) and (max-width: 767px) {
	.video-responsive {
		width: 470px;
		height: 300px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.video-responsive {
		width: 675px;
		height: 365px;
	}
}
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
	.video-responsive {
		width: 910px;
		height: 450px;
	}
}
@media (min-width: 480px) {
	form {
		padding: 2.5rem;
	}
}
@media (min-width: 576px) {
	.container-form {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container-form {
		max-width: 720px;
	}
}